@import "tailwindcss";

@theme{
    --breakpoint-xsm:500px;
    --breakpoint-sm:600px;
    --breakpoint-md: 690px;
    --breakpoint-lg: 988px;
    --breakpoint-xl: 1078px;
    --breakpoint-xxl: 1265px;
    --color-textGray: #71767b;
    --color-textGrayLight: #e7e9ea;
    --color-borderGray: #2f3336;
    --color-inputGray: #202327;
    --color-iconBlue: #1d9bf0;
    --color-iconGreen: #00ba7c;
    --color-iconPink: #f91880;
}


:root {
  --background:  #171717;
  --foreground: #171717;

}


@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
color: white;
  font-family: Arial, Helvetica, sans-serif;
}
